body {
    padding: 20px;
}

.warpper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    width: 400px;
    text-align: center;
}

.card h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}
